# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Algorithms with IMDB/*
!/Algorithms with IMDB/task/
/Algorithms with IMDB/task/*
!/Algorithms with IMDB/task/algorithms.py
!/Algorithms with IMDB/task/movies.csv
